@font-face {
  font-family: QRCODEfont;
  src: url("Outfit-VariableFont_wght.ttf");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: hsl(212, 45%, 89%);
}
img {
  max-width: 20%;
  max-height: 20%;
  align-self: center;
  border-radius: 10px;
}
.outer {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  max-height: 40%;
  font-family: QRCODEfont;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  text-align: center;
}
p {
  color: rgb(191, 188, 188);
}
