@font-face {
    font-family: QRCODEfont;
    src: url('Outfit-VariableFont_wght.ttf');
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:  hsl(212, 45%, 89%)
}

img {
    width: 320px;
  max-width: 90%;
  border-radius: 10px;
  
}

.outer{
  display: flex;
    flex-direction: column;
  width: 320px;
  max-height: 40%;
  font-family: QRCODEfont;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  text-align: center;
   gap: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

p{
    color: rgb(191, 188, 188);
}

